.header-box {
    padding-top: 5px;
    padding-bottom: 60px;
}

.logo-link {
    cursor: pointer;
    height: 100px;
    list-style: none;
}

.logo-box li img {
    height: 100%;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-links-box li {
    padding-left: 15px;
    padding-right: 15px;
    color: #c9c9c9;
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;
}

.main-links-box li:hover {
    color: #121212;
    background-color: #c9c9c9;

    border-radius: 8px;
    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-links-box {
    display: flex;
    gap: 5px;
    align-items: center;
}

.red-exclamation-point {
    color: #f40137;
}
