.quote-card {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: #c9c9c9;
    width: 420px;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;

    letter-spacing: 0.5px;
    font-size: 18px;
}

.quote-text,
.quote-author {
    flex-basis: 100%;
}

.quote-author {
    align-self: flex-start;
}

.quote-text {
    align-self: flex-start;
}

.quote-details-link {
    text-decoration: none;

    align-self: flex-end;

    margin: 0 auto;
    line-height: 42px;
    font-size: medium;
    font-weight: bold;
    height: 45px;
    padding: 0 40px 0 40px;
    color: #c9c9c9;
    cursor: pointer;
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    background-color: transparent;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
}

.quote-details-link:hover {
    height: 45px;
    padding: 0 20px 0 20px;
    color: #f40137;
    box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #f4013662,
        0 0 1px #f4013662, 0 0 10px #f4013662, inset 0 0 15px #f4013662;
    transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}