.search-result-link {
display: block;
  color: black;
  text-decoration: none;
}

.header-searchBtn {
  border: 1px solid transparent;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--header-background-color);
  letter-spacing: 1.2px;
  font-weight: bold;
  cursor: pointer;

  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.header-searchBtn:hover {
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  box-shadow: 0 0 1px #c9c9c9, 0 0 5px #c9c9c9, 0 0 5px #d7e46177,
      0 0 1px #9bc54762, 0 0 10px #9cdb5562, inset 0 0 15px #88d64c62;
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}